
    <div id="brackets"></div>

    <%= form_for @bracket do |f| %>
      <%= f.collection_select :organization_id, Organization.all, :id, :name %>
    <% end %>
    <button id="save">Save</button>

    <% if is_admin? %>
      <%= link_to "Delete", bracket_path(@bracket), method: :delete %>

      <div id="is_admin">
      </div>
    <% end %>

    <script>
    /**
    * brackets.js
    */

    $(function() {

      $.ajaxSetup({
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
      });

      var teams = [
      ['1 Kentucky', '16 Hampton/Manhattan'],
      ['8 Cincinnati', '9 Purdue'],
      ['5 West Virginia', '12 Buffalo'],
      ['4 Maryland', '13 Valparaiso'],

      ['6 Butler', '11 Texas'],
      ['3 Notre Dame', '14 Northeastern'],
      ['7 Wichita State', '10 Indiana'],
      ['2 Kansas', '15 New Mexico State'],
      ['1 Villanova', '16 Lafayette'],
      ['8 NC State', '9 LSU'],
      ['5 UNI', '12 Wyoming'],
      ['4 Louisville', '13 UC Irvine'],
      ['6 Providence', '11 Boise State/Dayton'],
      ['3 Oklahoma', '14 Albany'],
      ['7 Michigan State', '10 Georgia'],
      ['2 Virginia', '15 Belmont'],
      ['1 Wisconsin', '16 Coastal Caro.'],
      ['8 Oregon', '9 Oklahoma State'],
      ['5 Arkansas', '12 Wofford'],
      ['4 North Carolina', '13 Harvard'],
      ['6 Xavier', '11 BYU/Mississippi'],
      ['3 Baylor', '14 Georgia State'],
      ['7 VCU', '10 Ohio State'],
      ['2 Arizona', '15 Texas Southern'],
      ['1 Duke', '16 UNF/RMU'],
      ['8 San Diego State', '9 St. John\'s'],
      ['5 Utah', '12 Steph F. Austin'],
      ['4 Georgetown', '13 Eastern Washington'],
      ['6 SMU', '11 UCLA'],
      ['3 Iowa State', '14 UAB'],
      ['7 Iowa', '10 Davidson'],
      ['2 Gonzaga', '15 North Dakota St.']

      ];

      var saveData = {
        teams: teams,
        results: [
        [
        <% 32.times do |i| %>
          <% if (64 + (2*i)) - 64 == @bracket.send("#{64 + i}").to_i %>
          [1, 0],
          <% else %>
          [0, 1],
          <% end %>
        <% end %>
        ],
        [
        <% 16.times do |i| %>
          <% if @bracket.send("#{96 + i}") == @bracket.send("#{64 + 2*i}") %>
          [1, 0],
          <% else %>
          [0, 1],
          <% end %>
        <% end %>
        ],
        [
        <% 8.times do |i| %>
          <% if @bracket.send("#{112 + i}") == @bracket.send("#{96 + 2*i}") %>
          [1, 0],
          <% else %>
          [0, 1],
          <% end %>
        <% end %>
        ],
        [
        <% 4.times do |i| %>
          <% if @bracket.send("#{120 + i}") == @bracket.send("#{112 + 2*i}") %>
          [1, 0],
          <% else %>
          [0, 1],
          <% end %>
        <% end %>
        ],
        [
        <% 2.times do |i| %>
          <% if @bracket.send("#{124 + i}") == @bracket.send("#{120 + 2*i}") %>
          [1, 0],
          <% else %>
          [0, 1],
          <% end %>
        <% end %>
        ], [
        <% if @bracket.send("126") == @bracket.send("124") %>
        [1, 0],
        <% else %>
        [0, 1],
        <% end %>
        ]
        ]
      }

      var container = $('#brackets');
      container.bracket({
        init: saveData,
        save: function() {},
        skipConsolationRound: true
      });

      $('.bracket .label').each(function() {
        var $el = $(this);
        $el.attr('title', $el.text());
      });

      // Add default option to list of organizations
      $('#bracket_organization_id').prepend($('<option value="0">Select an organization</option>'));
      $('#bracket_organization_id').val('0');

      //toastr.options = {
      //  positionClass: 'toast-top-center'
      //};
      $('#save').click(function() {
        var numTeams = teams.length * 2;
        var maxMatchId = numTeams * 2 - 2;
        var is_admin = $('#is_admin')[0]


        var picksById = {};
        $('.score').each(function() {
          var $el = $(this);
          var resultId = $el.attr('data-resultid');
          var pickId = parseInt(resultId.match(/result-(\d+)/)[1], 10);
          if (pickId < numTeams || pickId >= maxMatchId) {
            return;
          }

          var teamId = $el.parent().attr('data-teamid');//$el.prev().text();
          if (!teamId) {
            return;
          }
          picksById[pickId] = teamId;

          if ($el.next().is('.team.win .bubble')) {
            // Overall winner
            picksById[maxMatchId] = teamId;
          }
        });

        if(!is_admin){
          for (i = numTeams; i <= maxMatchId; ++i) {
            if (!(i in picksById)) {
              toastr.error('Please fill out the entire bracket before saving');
              return;
            }
          }
        }

        $.ajax({
          method: 'POST',
          url: '/brackets/<%= @bracket.id %>',
          data: {
            bracket: picksById,
            _method: 'PUT'
          },
          success: function(data) {
            toastr.success('Bracket saved.');
            window.location.href = data.success_url;
          },
          failure: function() {
            toastr.error('Error saving bracket. Talk to Helen.')
          }
        });
      });
    });
  </script>
