<h1>Pick Your March Madness Teams!</h1>

<%= link_to "Pick Your Team", new_bracket_path %>

<tbody>

<!-- <%#= link_to "Show", @bracket %>
<%#= link_to "Edit", edit_bracket_path(@bracket)  %>
<%#= link_to "Destroy", @bracket, method: :delete, data: { confirm: "Are you sure?" } %> -->

</tbody>
