<div id="brackets"></div>

  <%= form_for @bracket do |f| %><% end %>
  <button id="save">Save</button>

  <% if is_admin? %>
    <div id="is_admin">
    </div>
  <% end %>

<script>
  /**
  * brackets.js
  */

  $(function() {

    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });

    var games = new Array,
        teams = $.ajax({
            dataType: 'json',
            method: 'GET',
            url: '/teams'
          }).success(function(result){
            matchups = setupMatchup(result.results);
          });

    function setupMatchup(teams) {
      var matchup_order = [
        [1, 16],
        [8, 9],
        [5, 12],
        [4, 13],
        [6, 11],
        [3, 14],
        [7, 10],
        [2, 15]
      ],
      region_order = [
        "M",
        "S",
        "E",
        "W"
      ],
      matchups;

      matchups = $.map(region_order, function (region) {
        var teamsByRegion = $.grep(teams, function(team) {
          return team.region == region;
        });

        var order = $.map(matchup_order, function(matchup) {
          var team1, team2;

          team1 = $.grep(teamsByRegion, function(team) { return team.ranking == matchup[0] });
          team2 = $.grep(teamsByRegion, function(team) { return team.ranking == matchup[1] });

          team1 = $(team1).get(0);
          team2 = $(team2).get(0);

          return [team1.ranking + ' ' + team1.name, team2.ranking + ' ' + team2.name];
        });

        return order;
      });

      groupGames(matchups);
      setUpBracket();
    }

    function groupGames(matchups) {
      for(var i = 0; i < matchups.length; i+=2) {
        games.push( matchups.slice(i, i+2) );
      }
    }

    function setUpBracket() {
      var saveData = {
        teams: games
      };

      var container = $('#brackets');
      container.bracket({
        init: saveData,
        save: function() {},
        skipConsolationRound: true
      });

      $('.bracket .label').each(function() {
        var $el = $(this);
        $el.attr('title', $el.text());
      });

      // Add default option to list of organizations
      $('#bracket_organization_id').prepend($('<option value="0">Select an organization</option>'));
      $('#bracket_organization_id').val('0');

      //toastr.options = {
        //  positionClass: 'toast-top-center'
        //};
        $('#save').click(function() {

          var is_admin = $('#is_admin'),
            numTeams = games.length * 2,
            maxMatchId = numTeams * 2 - 2,
            picksById = {};

          $('.score').each(function() {
            var $el = $(this);
            var resultId = $el.attr('data-resultid');
            var pickId = parseInt(resultId.match(/result-(\d+)/)[1], 10);
            if (pickId < numTeams || pickId >= maxMatchId) {
              return;
            }

            var teamId = $el.parent().attr('data-teamid');//$el.prev().text();
            if (!teamId) {
              return;
            }
            picksById[pickId] = teamId;

            if ($el.next().is('.team.win .bubble')) {
              // Overall winner
              picksById[maxMatchId] = teamId;
            }
          });

          if(!is_admin){
            for (i = numTeams; i <= maxMatchId; ++i) {
              if (!(i in picksById)) {
                toastr.error('Please fill out the entire bracket before saving');
                return;
              }
            }
          }

          $.ajax({
            method: 'POST',
            url: '/brackets',
            data: {
              bracket: picksById
            },
            success: function(data) {
              toastr.success('Bracket saved.');
              window.location.href = data.success_url;
            },
            failure: function() {
              toastr.error('Error saving bracket. Talk to Joe.')
            }
          });
        });
      }
    });
  </script>
