<!-- column 1 -->
<div class="wrapper">
  <div id="midwest-1" class="">
    <ul></ul>
  </div>
  <div id="midwest-2" class="">
    <ul></ul>
  </div>
  <div id="midwest-3" class="">
    <ul></ul>
  </div>
  <div id="midwest-4" class="">
    <ul></ul>
  </div>
  <div class="dummy"></div>
  <div id="south-1" class="">
    <ul></ul>
  </div>
  <div id="south-2" class="">
    <ul></ul>
  </div>
  <div id="south-3" class="">
    <ul></ul>
  </div>
  <div id="south-4" class="">
    <ul></ul>
  </div>
</div>
<!-- absolute position 3 nodes in middle -->
<div class="finals">
  <ul>
    <li id="M5S"></li>
    <li id="W6W"></li>
    <li id="W5E"></li>
  </ul>
</div>
<div class="wrapper">
  <div id="west-1" class="">
    <ul></ul>
  </div>
  <div id="west-2" class="">
    <ul></ul>
  </div>
  <div id="west-3" class="">
    <ul></ul>
  </div>
  <div id="west-4" class="">
    <ul></ul>
  </div>
  <div class="dummy"></div>
  <div id="east-1" class="">
    <ul></ul>
  </div>
  <div id="east-2" class="">
    <ul></ul>
  </div>
  <div id="east-3" class="">
    <ul></ul>
  </div>
  <div id="east-4" class="">
    <ul></ul>
  </div>
</div>


<button id="save">SAVE</button>
<script charset="utf-8">
  var midwest = [
    {
      name: 'Kentucky',
      id: 'M0A',
      target: 'M1A',
      col: 1
    }, {
      name: 'Hampton/Manhattan',
      id: 'M0B',
      target: 'M1A',
      col: 1
    }, {
      name: 'Cincinnati',
      id: 'M0C',
      target: 'M1B',
      col: 1
    }, {
      name: 'Purdue',
      id: 'M0D',
      target: 'M1B',
      col: 1
    }, {
      name: 'West Virginia',
      id: 'M0E',
      target: 'M1C',
      col: 1
    }, {
      name: 'Buffalo',
      id: 'M0F',
      target: 'M1C',
      col: 1
    }, {
      name: 'Maryland',
      id: 'M0G',
      target: 'M1D',
      col: 1
    }, {
      name: 'Valparaiso',
      id: 'M0H',
      target: 'M1D',
      col: 1
    }, {
      name: 'Butler',
      id: 'M0I',
      target: 'M1E',
      col: 1
    }, {
      name: 'Texas',
      id: 'M0J',
      target: 'M1E',
      col: 1
    }, {
      name: 'Notre Dame',
      id: 'M0K',
      target: 'M1F',
      col: 1
    }, {
      name: 'Northeastern',
      id: 'M0L',
      target: 'M1F',
      col: 1
    }, {
      name: 'Wichita State',
      id: 'M0M',
      target: 'M1G',
      col: 1
    }, {
      name: 'Indiana',
      id: 'M0N',
      target: 'M1G',
      col: 1
    }, {
      name: 'Kansas',
      id: 'M0O',
      target: 'M1H',
      col: 1
    }, {
      name: 'New Mexico State',
      id: 'M0P',
      target: 'M1H',
      col: 1
    }, {
      id: 'M1A',
      target: 'M2A',
      col: 2
    }, {
      id: 'M1B',
      target: 'M2A',
      col: 2
    }, {
      id: 'M1C',
      target: 'M2B',
      col: 2
    }, {
      id: 'M1D',
      target: 'M2B',
      col: 2
    }, {
      id: 'M1E',
      target: 'M2C',
      col: 2
    }, {
      id: 'M1F',
      target: 'M2C',
      col: 2
    }, {
      id: 'M1G',
      target: 'M2D',
      col: 2
    }, {
      id: 'M1H',
      target: 'M2D',
      col: 2
    }, {
      id: 'M2A',
      target: 'M3A',
      col: 3
    }, {
      id: 'M2B',
      target: 'M3A',
      col: 3
    }, {
      id: 'M2C',
      target: 'M3B',
      col: 3
    }, {
      id: 'M2D',
      target: 'M3B',
      col: 3
    }, {
      id: 'M3A',
      target: 'M4A',
      col: 4
    }, {
      id: 'M3B',
      target: 'M4A',
      col: 4
    }, {
      id: 'M4A',
      target: 'M5S',
      col: 5
    }
  ];

  var parseData = function (id, data) {
    for(var i = 0, len = data.length; i < len; i++) {
      var ul = $('#' + id + '-' + data[i].col).find('ul'),
          li = $('<li>');

      li.attr('id', data[i].id);
      li.data('target', data[i].target);

      if(data[i].name) {
        li.text(data[i].name);
      }

      li.on('click', function () {
        var target = $('#' + $(this).data('target'));

        target.text($(this).text());
      });

      ul.append(li);
    }
  }

  parseData('midwest', midwest);


  $('#save').click(function(){

    var id = $('#bracket_organization_id').val()
    var params = {
      bracket: {
        M1A: $("#M1A").text(),
        M1B: $("#M1B").text(),
        M1C: $("#M1C").text(),
        M1D: $("#M1D").text(),
        M1E: $("#M1E").text(),
        M1F: $("#M1F").text(),
        M1G: $("#M1G").text(),
        M1H: $("#M1H").text(),
        M2A: $("#M2A").text(),
        M2B: $("#M2B").text(),
        M2C: $("#M2C").text(),
        M2D: $("#M2D").text(),
        M3A: $("#M3A").text(),
        M3B: $("#M3B").text(),
        M4A: $("#M4A").text(),

        S1A: $("#S1A").text(),
        S1B: $("#S1B").text(),
        S1C: $("#S1C").text(),
        S1D: $("#S1D").text(),
        S1E: $("#S1E").text(),
        S1F: $("#S1F").text(),
        S1G: $("#S1G").text(),
        S1H: $("#S1H").text(),
        S2A: $("#S2A").text(),
        S2B: $("#S2B").text(),
        S2C: $("#S2C").text(),
        S2D: $("#S2D").text(),
        S3A: $("#S3A").text(),
        S3B: $("#S3B").text(),
        S4A: $("#S4A").text(),

        W1A: $("#W1A").text(),
        W1B: $("#W1B").text(),
        W1C: $("#W1C").text(),
        W1D: $("#W1D").text(),
        W1E: $("#W1E").text(),
        W1F: $("#W1F").text(),
        W1G: $("#W1G").text(),
        W1H: $("#W1H").text(),
        W2A: $("#W2A").text(),
        W2B: $("#W2B").text(),
        W2C: $("#W2C").text(),
        W2D: $("#W2D").text(),
        W3A: $("#W3A").text(),
        W3B: $("#W3B").text(),
        W4A: $("#W4A").text(),

        E1A: $("#E1A").text(),
        E1B: $("#E1B").text(),
        E1C: $("#E1C").text(),
        E1D: $("#E1D").text(),
        E1E: $("#E1E").text(),
        E1F: $("#E1F").text(),
        E1G: $("#E1G").text(),
        E1H: $("#E1H").text(),
        E2A: $("#E2A").text(),
        E2B: $("#E2B").text(),
        E2C: $("#E2C").text(),
        E2D: $("#E2D").text(),
        E3A: $("#E3A").text(),
        E3B: $("#E3B").text(),
        E4A: $("#E4A").text(),

        M5S: $("#M5S").text(),
        W5E: $("#W5E").text(),
        W6W: $("#W6W").text(),
        organization_id: id
      }
    }

    $.ajax({
      method: "POST",
      url: "/brackets",
      data: params
    })

    console.log(params)
  })

</script>

<%= form_for @bracket do |f| %>
  <%= f.collection_select :organization_id, Organization.all, :id, :name %>

  <%= f.submit "Pick Your Team" %>

  <% end %>
