<h1>Here are your bracket predictions: </h1>

<!-- <ul>

<% 63.times do |n| %>
  <li><%#= @bracket.send((n+64).to_s) %></li>
<% end %>

</ul> -->

<p>
  Your score is: <%= @score %>
</p>

<p>
  Your team score is: <%= @average_team_score %>
</p>
